extends layout

block content
  h4 App Home Page

  if user
    p Logged in as
     ul
       li Email: #{user.email}
       li Created: #{user.createdAt}
    a(href='/user/logout') Log Out
  if !user
    p Not Logged In
      ul
        li
          a(href='/users/login') Log In
        li
          a(href='/users/register') Register
  p
    a(href='/users/') User Page (logged in only)
